.page-break{
    width: 100%;
    height: 40vh;
}

.presentation-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

}

.picture-right{
    background: url(/assets/images/presentation_pics/presentation-pic-left.jpg);
    background-size: cover;
    display: flex;
    align-self: flex-end;
    height: 80vh;
    width: 115vh;
    margin-bottom: -350px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.picture-left{
    background: url(/assets/images/presentation_pics/presentation-pic-right.jpg);
    background-size: cover;
    display: flex;
    align-self: flex-start;
    flex-direction: start;
    height: 80vh;
    width: 115vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}