body {
    margin: 0;
    font-family: 'Cinzel', sans-serif;
    background-color: #1F232C;
    color: #1F232C;
    position: relative;
}

body::before {
    content: "";
    position: absolute; /* Change to fixed to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('stormys_landing_pictures/background_rotated.png') top center repeat; /* Ensure the top of the image is at the top of the page */
    background-size: contain; /* Adjust as needed */
    background-attachment: scroll;
    /* transform: rotate(90deg);  */
    opacity: 0.4;
    z-index: -1;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f232c;
    padding: 10px 20px;
    height: 7vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 25px;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.navbar ul li {
    margin: 0 25px;
}

.navbar ul li a {
    color: #B18743;
    text-decoration: none; /* Remove the default underline */
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 3.5px;
    position: relative; /* Allows for precise positioning of the pseudo-element */
    transition: color 0.5s ease; /* Smooth transition for color change */
}

.navbar ul li a::after {
    content: '';
    position: absolute;
    left: 50%; /* Start from the center */
    right: 50%; /* Start from the center */
    bottom: -3px; /* Distance from the text */
    height: 1px; /* Thickness of the underline */
    background-color: #F4EDEB; /* Color of the underline */
    transition: left 0.5s ease, right 0.5s ease; /* Smooth expansion */
    transform: scaleX(1); /* Start hidden */
    transform-origin: center; /* Ensures the transform starts from the center */
}

.navbar ul li a:hover {
    color: #F4EDEB; /* Color change on hover (red in this example) */
}

.navbar ul li a:hover::after {
    left: 0; /* Expand the underline to the left */
    right: 0; /* Expand the underline to the right */
    transform: scaleX(1.2); /* Expand the underline */
}

.navbar ul li a::after {
    left: 50%; /* Retract the underline back to the center */
    right: 50%; /* Retract the underline back to the center */
}

.navbar .location {
    display: flex;
    align-items: center;
    color: #B18743;
    letter-spacing: 3px;
    margin-left: auto;
    font-size: 12px;
    font-weight: 350;
    padding-right: 80px;
    height: 40px;
    transition: color 0.5s ease;
    cursor: pointer;
}

.map-link {
    text-decoration: none !important;
    color: inherit;
    display: flex;
    align-items: center;
}

.navbar .location img {
    margin-right: 10px;
    height: 40px;
    transition: filter 0.5s ease;
}

.navbar .location-text span {
    display: flex;
}


.navbar .location:hover {
    color: #F4EDEB; /* New text color on hover */
}

.navbar .location:hover img {
    filter: brightness(0) invert(1); /* Changes image color to match the hover effect */
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    width: 100%;
    height: 100vh;
    position: relative;
}

.logo {
    height: 290px; /* Ensure initial height is set */
    position: relative;
    border: 1px solid red;
    width: auto;
    transition: ease 0.5s;
}

/* "Welcoming" card */

.appointment-card-wrapper{
    display: flex;
    background: url('stormys_landing_pictures/stormys_waiting.jpeg');
    background-size: cover;
    height: 70%;
    width: 80%;
    position: relative;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px purple solid;
    align-items: center;
    position: relative;
    width: 100%;
}

.appointment-card {
    margin: 170px;
    position: relative;
    top: 50;
    left: 50;
    width: 80%;
    height: 55%;
    background-color: rgba(26, 24, 24, 0.848); /* Semi-transparent black */
    color: white;
    display: flex;
    border: #F4EDEB 1px solid;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    backdrop-filter: blur(2px); /* Apply the blur effect */
    -webkit-backdrop-filter: blur(2px); /* For Safari */
    font-size: 24px;
}

.title-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #B18743;
    font-size: 16px;
    font-weight: bold;
    margin-top: 60px;
}

.title-part1 {
    display: flex;
    letter-spacing: 4px;
    text-align: center;
    margin-left: 10px;
}

.title-divider {
    display: flex;
    width: 100%;
    margin: 0 auto;
    border-top: 0.10px solid #F4EDEB;
}

.title-part2 {
    display: flex;
    letter-spacing: 12.70px;
    margin-left: 9px;
}

.additional-text {
    text-align: center;
    font-size: 30px;
    letter-spacing: 6px;
    color: #F4EDEB;
    margin-top: 20px; /* Add space between title and additional text */
}

.hours-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px; /* Space between sections */
    width: 100%;
    max-width: 600px;
    margin-bottom: 40px;
}

.days, .times {
    display: flex;
    flex-direction: column;
}

.days ol {
    padding-left: 20px; /* Indent the ordered list */
    list-style-type: none; /* Remove default list styling */
}

.times ol {
    padding-left: 20px; /* Indent the ordered list */
    list-style-type: none; /* Remove default list styling */
}

.day {
    font-size: 18px;
    margin: 5px 0; /* Space between each entry */
    color: #B18743; /* Gold color */
    letter-spacing: 3px;
}

.hour {
    font-size: 18px;
    margin: 5px 0; /* Space between each entry */
    color: #F4EDEB;
    letter-spacing: 3px;
}



/*Pricing Section*/


.pricing-title-container {
    width: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #B18743;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 12px;
    color: #C4AE78;
}
.pricing-title {
    margin-left: 14px;
}

.pricing-underline {
    display: flex;
    width: 100%;
    border-top: 0.10px solid #F4EDEB;
}


.pricing-section {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.pricing-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #171515;
    color:#B18743;
    width: 80%;
    height: 70%;
    padding-top: 180px;
    padding-bottom: 180px;
    margin: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.pricing-container li {
    list-style-type: none;
}

.cuts {
    display: flex;
    align-items: center;
    font-size: 24px;
    letter-spacing: 4px;
}

.prices {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F4EDEB;
    letter-spacing: 4px;
}

/* Presentation */

.page-break{
    width: 100%;
    height: 40vh;
}

.presentation-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

}

.picture-right{
    background: url(stormys_landing_pictures/presentation_pics/presentation-pic-left.jpg);
    background-size: cover;
    display: flex;
    align-self: flex-end;
    height: 80vh;
    width: 115vh;
    margin-bottom: -350px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.picture-left{
    background: url(stormys_landing_pictures/presentation_pics/presentation-pic-right.jpg);
    background-size: cover;
    display: flex;
    align-self: flex-start;
    flex-direction: start;
    height: 80vh;
    width: 115vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* carousel reviews */

.review-title-container {
    width: 15%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #B18743;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 12px;
    color: #C4AE78;
    margin-bottom: 20px;
}

.review-title {
    margin-left: 14px;
}

.review-underline {
    display: flex;
    width: 100%;
    border-top: 0.10px solid #F4EDEB;
}

.carousel-container {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 50%;
    max-width: 1200px;
    max-height: 800px;
    margin: auto;
    /* overflow: hidden; */
    background-color: #171515;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.carousel {
    display: relative;
}

.flex-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}

.carousel-image-container {
    height: 94%;
    width: 50%;
    display: flex;
    background-size:0 50%;
    background: no-repeat;
    background-position-x: -70px;
}

.review {
    flex-direction: column;
    color:#F4EDEB;
    width: 40%;
    height: 100%;
    display: flex;
    padding-left: 1.5rem;
    justify-content: space-around;
    align-content: center;
}

.carousel-item {
    height: 85vh;
    position: absolute;
    flex-direction: row;
    top: 0;
    left: 0;
    min-width: 100%;
    text-align: center;
    box-sizing: border-box;
    opacity: 0;
    transition: all 1s ease;
}

.carousel-item.active {
    opacity: 1;
}

.prev, .next {
    position: absolute;
    top: 100%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    background-color: #F4EDEB ;
    color: #1F232C;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: background-color 0.5s ease, color 0.5s ease,transform 0.1s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.prev {
    left: 25%;
}

.next {
    right: 25%;
}

.prev:hover, .next:hover {
    background-color: #1F232C; /* Change background color on hover */
    color: #F4EDEB; /* Change text color on hover */
}

.prev:active, .next:active {
    transform: translateY(-50%) scale(0.7); /* Slightly scale down on click */
    background-color: #F4EDEB; /* Darker background color on click */
    color: #1F232C; /* Change text color to white on click */
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease; /* Fast transition for the click effect */
}

.footer {
    height: 45vh;
    width: 100%;
    background-color: #171515;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.footer-title-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-around;
    width: 100%;
    height: 10vh;
}

.hours-title-container {
    width: 24%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #C4AE78;
    font-weight: normal;
    font-size: 28px;
    letter-spacing: 8px;
}

.inquiries-title-container {
    width: 24%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-weight: normal;
    font-size: 28px;
    letter-spacing: 8px;
    color: #C4AE78;
}

.inquiries-title {
    font-size: 22px;
}

.inquiries-underline {
    display: flex;
    width: 70%;
    border-top: 0.10px solid #F4EDEB;   
}

.hours-title {
    font-size: 22px;
}

.hours-underline {
    display: flex;
    width: 100%;
    border-top: 0.10px solid #F4EDEB;
}

.footer-content-container {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
}

.hours-container-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 20px; /* Space between sections */
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.inquiries-container-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    margin-top: 20px; /* Space between sections */
    width: 100%;
    max-width: 600px;
    margin-bottom: 40px;
    font-size: 18px;
    letter-spacing: 4px;
}

.inquire-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
}

.email {
    color: #B18743;
}
.address {
    color: #F4EDEB;
}
.appointment-status {
    color: #C4AE78;
}
.inquire {
    color:#B18743;
}
.phone {
    color: #B18743;
}
.number {
    color: #F4EDEB;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
}

.google-maps-icon img{
    height: 50px;
}
.facebook-icon img{
    height: 50px;
}
.instagram-icon img{
    height: 50px
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .navbar ul {
        justify-content: center;
        margin-top: 10px;
    }

    .navbar .location {
        justify-content: center;
        margin-top: 10px;
        text-align: center;
    }

    .content-container {
        padding: 10px;
        margin-top: 250px;
    }

    .spacer {
        height: 200px;
    }

    .logo {
        max-height: 80px;
    }

    .title-part1 {
        font-size: 28px;
    }

    .title-part2 {
        font-size: 20px;
    }

    .additional-text {
        font-size: 20px;
    }

    .hours-container {
        flex-direction: column;
        align-items: center;
    }

    .days, .times {
        align-items: center;
    }
}