body {
    margin: 0;
    font-family: 'Cinzel', sans-serif;
    background-color: #1F232C;
    color: #1F232C;
    position: relative;
}

body::before {
    content: "";
    position: absolute; /* Change to fixed to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('stormys_landing_pictures/background.png') top center no-repeat; /* Ensure the top of the image is at the top of the page */
    background-size: cover; /* Adjust as needed */
    background-attachment: scroll;
    transform: rotate(90degrees); 
    opacity: 0.4;
    z-index: -1;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f232c;
    padding: 10px 20px;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex: 1;
    justify-content: flex-start;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: #B18743;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 3.5px;
}

.navbar .location {
    display: flex;
    align-items: center;
    color: #F4EDEB;
    letter-spacing: 3px;
    margin-left: auto;
    font-size: 12px;
    font-weight: 350;
    padding-right: 40px;
}

.navbar .location img {
    margin-right: 10px;
    height: 30px;
}

.navbar .location-text span {
    display: block;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
    z-index: 12;
    width: 100%;
    height: 100vh;
    position: relative;
}

.logo {
    height: 290px; /* Ensure initial height is set */
    position: relative;
    border: 1px solid red;
    width: auto;
    transition: ease 0.5s;
}



.content-container {
    display: flex;
    justify-content: center;
    border: 1px purple solid;
    align-items: center;
    position: relative;
    width: 100%;
}

.interior-image {
    position: relative;
    width: 100%;
    max-width: 80vw;
    max-height: 110vh;
    height: auto;
}

.appointment-card {
    position: absolute;
    top: 50;
    left: 50;
    width: 60%;
    height: 55%;
    background-color: rgba(26, 24, 24, 0.848); /* Semi-transparent black */
    color: white;
    display: flex;
    border: #F4EDEB 1px solid;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    backdrop-filter: blur(2px); /* Apply the blur effect */
    -webkit-backdrop-filter: blur(2px); /* For Safari */
    font-size: 24px;
}

.title-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #B18743;
    font-size: 16px;
    font-weight: bold;
    margin-top: 60px;
}

.title-part1 {
    display: block;
    letter-spacing: 2px;
}

.title-divider {
    display: block;
    width: 100%;
    margin: 0 auto;
    border-top: 0.15px solid #F4EDEB; 
}

.title-part2 {
    display: block;
    letter-spacing: 9px;
    margin-left: 5px;
}

.additional-text {
    text-align: center;
    font-size: 30px;
    letter-spacing: 6px;
    color: #F4EDEB;
    margin-top: 20px; /* Add space between title and additional text */
}

.hours-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Space between sections */
    width: 100%;
    max-width: 600px;
}

.days, .times {
    display: flex;
    flex-direction: column;
}

.days ol {
    padding-left: 20px; /* Indent the ordered list */
    list-style-type: none; /* Remove default list styling */
}

.times ol {
    padding-left: 20px; /* Indent the ordered list */
    list-style-type: none; /* Remove default list styling */
}

.day {
    font-size: 18px;
    margin: 5px 0; /* Space between each entry */
    color: #B18743; /* Gold color */
}

.hour {
    font-size: 18px;
    margin: 5px 0; /* Space between each entry */
    color: #F4EDEB;
}

.pricing-section {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .navbar ul {
        justify-content: center;
        margin-top: 10px;
    }

    .navbar .location {
        justify-content: center;
        margin-top: 10px;
        text-align: center;
    }

    .content-container {
        padding: 10px;
        margin-top: 250px;
    }

    .spacer {
        height: 200px;
    }

    .logo {
        max-height: 80px;
    }

    .title-part1 {
        font-size: 28px;
    }

    .title-part2 {
        font-size: 20px;
    }

    .additional-text {
        font-size: 20px;
    }

    .hours-container {
        flex-direction: column;
        align-items: center;
    }

    .days, .times {
        align-items: center;
    }
}